.tweet {
    margin-top: 15px;
}

.title {
    margin-bottom: 15px;
}

p {
    font-family: Arial, sans-serif;
    width: 500px;
}

.user {
    font-weight: bold;
}

.userid, .time {
    color: grey;
}

.mention {
    color: skyblue;
}